[2015-09-15 00:06] ttimbers opened #1 "General Planning Etherpad for Instructor-helper retreat"
Here is the general planning etherpad for Instructor-helper retreat: https://etherpad.mozilla.org/swc-instructor-helper-retreat-2015

Please feel free to add/edit/change as you see fit or as needed (or suggest to me how to improve/update it).

[2015-09-15 02:52] BillMills opened #2 "Website text"
As always, there's a balance to be struck between needing clear details but not too many words - text edits welcome! [Website here](http://swcarpentry.github.io/instructor-retreat-2015/).

[2015-09-15 02:53] BillMills opened #3 "css"
I lifted a lot of CSS wholesale from the main site, to preserve a look and feel - suggestions? [Website here](http://swcarpentry.github.io/instructor-retreat-2015/).

[2015-09-15 02:53] BillMills opened #4 "functionality"
Are all the links working? How do things look in your browser of choice? [Website here](http://swcarpentry.github.io/instructor-retreat-2015/).

[2015-09-15 02:54] BillMills opened #5 "chatroom"
I suggest Gitter as a minimum-barrier-to-entry chat room to support worldwide communication in the website text; how does everyone feel about this? I tried to set it up, but I don't think I have quite the right permissions. [Website here](http://swcarpentry.github.io/instructor-retreat-2015/).

[2015-09-15 02:55] BillMills opened #6 "etherpad text"
If you click on the Vancouver pin, there's a link to a [template site etherpad](https://etherpad.mozilla.org/swc-instructor-retreat-2015-vancouver) - how does this look? Need to agree this template before we start spawning tons of copies.

[2015-09-15 02:57] BillMills opened #7 "event scheduling"
It occurred to me while pulling this together that there might be collisions between the global broadcast sessions, and local-only teaching practice (or whatever) sessions. Suggestions on how to navigate? Would be nice to have two rooms at each site, but this might be getting overly ambitious.

[2015-09-15 03:14] BillMills opened #8 "actual sites"
I put some dummy pins on the map just to show what it's going to look like, but do we have a few actual sites we can seed with?

[2015-09-15 06:49] katieannemills commented on #5
@rgaiacs pointed out in https://github.com/swcarpentry/site/pull/1089 we have a slack somewhere, so sure - let's go with that. Please someone post or PR links / credentials we can add to the site to direct people there, and we can close this out.

[2015-09-15 07:39] gvwilson opened #10 "Is this Software *and Data* Carpentry?"
Please check with @tracykteal about making it explicitly that this is for Software *and Data* Carpentry instructors.

[2015-09-15 15:52] jiffyclub commented on #5
See https://github.com/swcarpentry/site/pull/1089#issuecomment-140438646 for the links.

[2015-09-15 16:23] #5 closed

[2015-09-15 17:50] tracykteal commented on #10
Yes, definitely for both! Are there details for this somewhere?

[2015-09-15 17:56] jiffyclub commented on #10
@BillMills has started a web page at http://swcarpentry.github.io/instructor-retreat-2015/ and there's an upcoming blog post at https://github.com/swcarpentry/site/pull/1089.

[2015-09-15 17:57] ttimbers commented on #10
Hi Tracy, We are working on a blog post and website right now and will be releasing it soon. Briefly, it will happen on Sat Nov 14

[2015-09-15 18:00] gvwilson commented on #10
#9 will close #10.

[2015-09-17 03:04] ttimbers commented on #2
Website looks great @BillMills! Small suggestions are that we add Data Carpentry and that we add another line in Hosting a Site to let hosts know they need to create a local schedule/plan. PR sent to add these things https://github.com/swcarpentry/instructor-retreat-2015/pull/11

[2015-09-17 03:07] ttimbers commented on #3
+1

[2015-09-17 03:12] ttimbers commented on #4
- Blog post and Google Hangout link bring you back to the retreat main page - but I imagine that's intentional until we merge it?
- Everything else works on Chrome for me.

[2015-09-17 03:19] ttimbers commented on #6
Added twitter handles for Software and Data Carpentry, as well as "local/locally" in a few spot in Schedule & Activity Suggestions to make it more clear that most people will be practice teaching locally (not as scary as globally!)

[2015-09-17 03:20] rgaiacs opened #13 "Where site.github.url is defined?"
Related with #12.

@BillMills could you help me find where `site.github.url` is defined?

[code]

[2015-09-17 03:24] ttimbers commented on #7
I think we might have to leave this up to hosts/community members of local sites to worry about choosing what they tune into globally. Ideally, I think hosts need to make a schedule ahead of the event with who's teaching what locally, and when, taking into account which global sessions they want to watch. Sites with less people might watch more global events, whereas sites with more, might not.

O

[2015-09-17 03:25] rgaiacs commented on #1
The etherpad looks good to me.

[2015-09-17 03:25] ttimbers commented on #10
@tracykteal I also sent a PR so that Data Carpentry will be included on the website.

[2015-09-17 03:38] rgaiacs commented on #2
Website looks :sparkles: !!! Thanks @BillMills.

[2015-09-17 03:42] rgaiacs commented on #4
Yes. We need to publish the blog post first. We can get the Google Hangout early.

@gvwilson Could you create/schedule a Google Hangout on Air using https://www.youtube.com/channel/UCp_EGqMlGrLu-ElIbCwYfrQ ?

[2015-09-17 03:46] rgaiacs commented on #8
@katyhuff @DamienIrving @apawlik @ethanwhite @ctb Could you let us know if you have plans to be part in the retreat and if we could put some pins where you are based?

[2015-09-17 03:46] rgaiacs commented on #3
The CSS looks good to me.

[2015-09-17 03:48] ttimbers opened #15 "Contributorship workshops?"
We are planning to run Contributorship workshops globally via Google Hangouts to remind/reinforce how to contribute back to the lesson material. I think we need 2-3 of these (one in Australasia, North America/South America and Europe /Africa/Asia).

Who knows this topic well and wants to do one of these globally? Or do you know someone who's arm we could twist to do this?

cc @gvwilson @tracykteal

[2015-09-17 03:56] DamienIrving commented on #8
The University of Melbourne (Research Platform Services in particular) will definitely be a host site. The pin on the map could go here:
https://www.google.com.au/maps/place/Doug+McDonell+Building/@-37.799009,144.962886,15z/data=!4m2!3m1!1s0x0:0x4ea4ce999ce3b96d

which is:
Level 3,
Doug McDonell Building,
University of Melbourne

I'll chat to the team tomorrow about what we'd like to do/acheive at

[2015-09-17 03:58] ttimbers commented on #8
@tracykteal will Data Carpentry want to host a site as well?

[2015-09-17 04:06] ttimbers commented on #8
@BillMills @rgaiacs After merging https://github.com/swcarpentry/instructor-retreat-2015/pull/14 the map and dummy pins disappeared - not sure what broke.

[2015-09-17 04:12] rgaiacs commented on #8
![screen shot 2015-09-17 at 01 11 15](https://cloud.githubusercontent.com/assets/1506457/9924778/071704e8-5cd9-11e5-9757-e8cc4ca81e6d.png)

@ttimbers the map is still visible to me (both on Firefox and Chrome).

[2015-09-17 04:18] rgaiacs commented on #15
I will ping our lesson maintainers. And I can do it if needed.

[2015-09-17 04:37] ttimbers commented on #8
@rgaiacs OK, now I see them.

[2015-09-17 12:00] ChristinaLK commented on #15
I'd be happy to do a pull request demo.

[2015-09-17 12:44] tracykteal commented on #8
@ttimbers working on locations

[2015-09-17 13:02] ctb commented on #8
On Wed, Sep 16, 2015 at 08:46:09PM -0700, Raniere Silva wrote:

@tracykteal may be doing something; if I'm not doing childcare, I'll
participate at the same location as DC.

[2015-09-17 14:00] apawlik commented on #8
I'm figuring things out in the UK. Most likely Manchester or Edinburgh.

[2015-09-17 17:25] katyhuff commented on #8
If one of the other BIDS fellows (@karthik, @jkitzes, @fatmai, @dturek) wanted to lead the local setup, this might be a good use for the BIDS space in Berkeley (I can secure the space, but probably can't lead that day)...

@tracykteal @ctb : do you wanna use this as an excuse to visit Berkeley, combining Davis and Berkeley at BIDS? There are little rooms at BIDS where kids could play while we're r

[2015-09-17 18:54] ttimbers commented on #8
@DamienIrving I've added you and U. Melbourne as a host in the planning etherpad. Can you please check/add all details? Please see line 46 at https://etherpad.mozilla.org/swc-instructor-helper-retreat-2015

[2015-09-18 02:10] katieannemills commented on #13
All gh-pages sites have some default metadata injected into them by GitHub on the `site.github` object, see spec [here](https://help.github.com/articles/repository-metadata-on-github-pages/#available-repository-metadata). Hope this helps!

[2015-09-18 02:12] katieannemills commented on #10
Closing per @gvwilson's comment since #9 has been merged. Glad to have Data Carpentry on board!

[2015-09-18 02:12] #10 closed

[2015-09-18 02:20] katieannemills commented on #8
@DamienIrving you're pinned on the map; let me know when you have an etherpad pulled together, so we can link you from there, too.

@tracykteal @ctb @katyhuff @apawlik let me know when you do - one(+) in California and one in the UK along with Melbourne is enough coverage to launch.

[2015-09-18 02:22] katieannemills commented on #7
I'm a big fan of non-prescriptive prescriptions - let's just let them self organize, and as you said, emphasize the need to shepherd people through a rough schedule.

[2015-09-18 02:22] #7 closed

[2015-09-18 02:25] katieannemills commented on #6
cool, thanks - also added in an explicit callout to the code of conduct. If there are no further comments, I think this is good to go (ping @DamienIrving - feel free to just cut and paste this text to make the etherpad for Melbourne I was asking after).

[2015-09-18 02:25] #6 closed

[2015-09-18 02:26] #3 closed

[2015-09-18 02:27] katieannemills commented on #2
thanks, both!

[2015-09-18 02:27] #2 closed

[2015-09-18 18:05] raynamharris commented on #8
I could host one... not sure if there are many people in the Austin, TX or nearby.

9-5 pm Central
GDC 7.514
https://www.google.com/maps/place/Bill+and+Melinda+Gates+Computer+Science+Complex,+Austin,+TX+78712/@30.286253,-97.736434,17z/data=!3m1!4b1!4m2!3m1!1s0x8644b59c98544379:0x1a0c2b90248ca2ed

[2015-09-19 01:27] katieannemills commented on #8
thanks, @raynamharris - you're on the map! Let me know when you have a chance to pull together an etherpad (see the [example from Vancouver](https://etherpad.mozilla.org/swc-instructor-retreat-2015-vancouver)), and I'll add the link.

As for number of people, don't forget about helpers, and people on the instructor training wait list; also nothing wrong with inviting curious folks to come out and

[2015-09-19 11:41] rgaiacs commented on #13
@BillMills Thanks for the information. I'm closing this in favor of #19.

[2015-09-19 11:41] #13 closed

[2015-09-19 22:59] DamienIrving commented on #8
@BillMills Here's the Etherpad for Melbourne:
https://etherpad.mozilla.org/swc-instructor-retreat-2015-melbourne

[2015-09-21 03:29] katieannemills commented on #8
Thanks @DamienIrving - everyone else, I'd like to announce broadly on the Tuesday social media cycle; we can still add sites and site details afterwards, but it'd be good to have as much on the table as possible for that push. Open an issue with details here, or email the mentorship committee at mentoring@lists.software-carpentry.org

[2015-09-21 03:29] #8 closed

[2015-09-21 16:57] k8hertweck opened #20 "Ideas for retreat sessions and topics"
Share ideas for potential sessions that you would like to see at the instructor retreat. These might be short, quick demos, or more extensive tutorials; topics may include general teaching tips/tricks or more specific examples.

[2015-09-21 17:00] k8hertweck commented on #20
Using [Socrative](http://www.socrative.com) to administer multiple choice questions to students. You can also use this system to retain records of student performance on questions.

[2015-09-21 17:01] k8hertweck commented on #20
A quick demo of setting up the shell for a workshop (trimming text in prompt, sending shell output to Dropbox file that students can access).

[2015-09-22 01:24] #1 closed

[2015-09-22 01:50] ttimbers commented on #4
@rgaiacs @gvwilson Do we have a Google Hangout on Air set up yet?

[2015-09-22 01:51] ttimbers commented on #20
@k8hertweck could you give a global session on one of these? Would love to have this in the line-up for tomorrow's launch!

[2015-09-22 01:53] ttimbers commented on #15
Great @ChristinaLK I'll put you down for a global PR demo! I'll put you down for the North America / South America time zone.

[2015-09-22 01:55] ttimbers commented on #15
@rgaiacs do we have any lesson maintainers in Austrailia and Europe / Africa / Asia time zones? If so, can you please ask them to do this?

[2015-09-22 02:01] ttimbers commented on #4
@gvwilson can we please merge the blog post (https://github.com/swcarpentry/site/pull/1089) for tomorrow's launch at 10:00 AM EST?

[2015-09-22 02:18] ttimbers commented on #20
@k8hertweck I have you down for a socrative session at 4:00 PM EST on the planning etherpad (https://etherpad.mozilla.org/swc-instructor-helper-retreat-2015) please feel free to choose a different topic or time.

[2015-09-22 02:19] ttimbers commented on #15
@ChristinaLK I have you down for a PR contributorship session at 1:00 pm EST on the planning etherpad (https://etherpad.mozilla.org/swc-instructor-helper-retreat-2015) does that work?

[2015-09-22 03:19] ttimbers commented on #15
@gvwilson do you want to do the European time zone contributorship session at 10:00 AM GMT?

[2015-09-22 04:25] gvwilson commented on #4
Certainly - the site is being built automatically every hour, so I'll
merge around 14:00 UK time so that it's up for 15:00 UK time (10:00
Eastern).  I'll fill in the 'Category' field then if no one else does it
first (I suggest "Instructor Retreat").

[2015-09-22 12:44] rgaiacs commented on #4
@gvwilson Could you do that and provide us with the link?

[2015-09-22 12:46] rgaiacs commented on #15
I will send emails around.

[2015-09-22 12:48] k8hertweck commented on #20
Sounds good to me!

[2015-09-22 12:49] gvwilson commented on #4
I've only ever set up a regular Google Hangout, not an On Air - has
someone else done it?

[2015-09-22 12:58] rgaiacs commented on #4
o/ Start at https://plus.google.com/hangouts/onair, click on "Create a Hangouts On Air" and fill the form.

[2015-09-22 13:52] ChristinaLK commented on #15
Yes, 1 pm EST is great.

[2015-09-22 14:07] ttimbers commented on #4
@gvwilson I think we are still waiting for the blog post (https://github.com/swcarpentry/site/pull/1089) to be merged

[2015-09-22 14:46] gvwilson commented on #4
Doing it now...

[2015-09-22 16:48] raynamharris commented on #8
Here is the link to the Austin, TX site

https://etherpad.mozilla.org/swc-instructor-retreat-2015-austin

[2015-09-22 16:59] raynamharris opened #22 "Austin etherpad"
The Austin etherpad is here

https://etherpad.mozilla.org/swc-instructor-retreat-2015-austin

[2015-09-22 17:23] apawlik commented on #8
I'm confirming that @softwaresaved will run a site at the University of Manchester, Kilburn Building 10am-4pm local time. I added the details to the Etherpad.

[2015-09-22 17:43] ttimbers commented on #8
Thank-you @apawlik !

[2015-09-22 17:43] ttimbers commented on #8
Thank-you @raynamharris

[2015-09-22 18:25] ttimbers commented on #20
@remi-daigle could you do your Github session sans command line at 1:00 PM GMT / 10 am ADT? That's what I've tentatively put you down for. Or if there's a better time, please choose it and update https://etherpad.mozilla.org/swc-instructor-helper-retreat-2015

[2015-09-22 18:48] remi-daigle commented on #20
@ttimbers if it's OK, I moved to 4PM GMT given that I'm the only instructor in town (although there are a couple more 1-3 hrs drive away) and with the change back to standard time (Nov 1?) 1PM GMT is 9AM AST (how's that for a time-zone mind melt!). I just don't think I can get many people to show up on a Saturday morning.

[2015-09-22 19:54] ttimbers commented on #20
@remi-daigle sounds good to me! And thanks for the heads up about the time change - I think I need to check over all my times...

[2015-09-22 19:57] ttimbers commented on #22
Thank-you @raynamharris !

[2015-09-22 19:57] #22 closed

[2015-09-22 21:18] raynamharris commented on #4
The Austin pin on the map has a non-functional link to the building rather than to our etherpad https://etherpad.mozilla.org/swc-instructor-retreat-2015-austin

[2015-09-22 21:46] jennybc opened #23 "Clicking on the austin TX site on the map doesn't take you to details the way it does for Vancouver and Melbourne"
The map here:

http://swcarpentry.github.io/instructor-retreat-2015/

[2015-09-23 04:44] katieannemills commented on #23
Good catch! Fixed, cc @raynamharris

[2015-09-23 04:44] #23 closed

[2015-09-23 04:44] katieannemills commented on #4
Austin now linked - thanks @raynamharris!

[2015-09-23 04:55] katieannemills commented on #8
@apawlik, thanks for organizing a site! You're on the map, but do you have your own etherpad I can link from your map pin? Sorry if I missed the link somewhere...

[2015-09-23 11:34] apawlik commented on #8
@BillMills https://swcuk.etherpad.mozilla.org/retreat-manchester

[2015-09-23 11:37] apawlik commented on #20
@remi-daigle @ttimbers We (Europe sites) would welcome sessions between 10am and 4pm GMT! :-)

[2015-09-23 15:51] gvwilson commented on #15
Sure, why not.

[2015-09-23 15:53] ttimbers commented on #15
@gvwilson fantastic! Does 11:00 AM GMT work?

[2015-09-23 15:54] gvwilson commented on #15
Sure, but is GMT the same as UK time at that point?  (Damn daylight
savings...)

[2015-09-23 15:57] ttimbers commented on #15
@gvwilson daylight savings time is frustrating! But I think 11 is better than 10 am since the U Manchester site wont be kicking off until 10am?

[2015-09-23 16:00] gvwilson commented on #15
I'll be there when you need me.  Currently trying to find a site in
London, since folks don't seem willing to come to Canterbury.

[2015-09-23 16:08] jiffyclub commented on #15
Are these going to be run the same day as the retreat?

[2015-09-23 16:10] gvwilson commented on #15
That's been my assumption - am I wrong?

[2015-09-23 16:10] ttimbers commented on #15
@jiffyclub yes - we will have several of these global sessions in each time zone. Local sites can choose which ones they tune into. The remainder of their day will be local teaching practice sessions.

[2015-09-24 22:41] rgaiacs commented on #15
@ttimbers Do you need more instructors for this?

[2015-09-24 22:42] ttimbers commented on #15
One more for Austrailia time as Greg said he would do the Europe time.

Thanks!
Tiff

On Thu, Sep 24, 2015 at 3:41 PM, Raniere Silva notifications@github.com
wrote:

##

Tiffany A. Timbers, PhD
Banting Postdoctoral fellow, Leroux Lab
Department of Molecular Biology and Biochemistry
Simon Fraser University
8888 University Drive
Burnaby, BC, V5A 1S6

604-803-4962

tiffany.timbers@gmail.com
tiffanyti

[2015-09-24 23:04] rgaiacs commented on #15
@DamienIrving, @IsaKiko, @dbarneche and @orchid00 Could you run the Contributorship workshops for Australia?

[2015-09-25 03:48] orchid00 commented on #15
Hi @rgaiacs Is there a date set? and what needs to be covered? I did a few contributions to the material but I'm not sure if I could answer many questions :P. Definitely Damien has more expertise

[2015-09-25 04:12] IsaKiko commented on #15
@rgaiacs Possibly! Is there any material we should cover?

[2015-09-25 09:29] rgaiacs commented on #15
November 14th.

How to fork, clone, change and send a pull request to one of our lessons.

@orchid00 That's all we need. =)

@IsaKiko There is no write material since we just looking for show the workflow to contribute to one lesson.

[2015-09-30 03:20] ttimbers commented on #15
@orchid00 @IsaKiko are either of you up for it? Or do you want to co-teach it? Would love to get this on the schedule soon :)

[2015-09-30 06:05] IsaKiko commented on #15
@ttimbers sign me up.

[2015-09-30 15:09] ttimbers commented on #15
Thank-you @IsaKiko !! I have you down for 3 AM GMT to do a globally broadcast contributorship session. Thanks again :)

[2015-09-30 21:33] tracykteal commented on #8
This is the link to the Davis location

https://etherpad.mozilla.org/swc-instructor-retreat-2015-davis

We'll have a family friendly version at our house.

[2015-09-30 21:35] ttimbers commented on #8
Awesome @tracykteal ! Thank-you for organizing and making it family friendly!

[2015-09-30 21:39] ttimbers commented on #8
@tracykteal I've added it to the general planning etherpad - please edit as you see fit: https://etherpad.mozilla.org/swc-instructor-helper-retreat-2015

[2015-10-01 03:38] ChristinaLK commented on #20
It would be cool to have someone talk through installing software (particularly SWC-used pieces), covering multiple OS's. Maybe a tag-team effort for a few people?

[2015-10-01 04:31] ttimbers commented on #20
+1 @ChristinaLK , do you know anyone who'd like to do that? We can also put a call out for a volunteer to do such a session on the discuss list and twitterverse.

[2015-10-01 17:47] jiffyclub commented on #20
I could talk about installing stuff, maybe not on Windows. (Though note that I'm not 100% sure I'll be able to attend at all.)

[2015-10-02 02:12] ChristinaLK commented on #20
I don't have any good suggestions, so discuss/twitter is probably the best place to find volunteers...

[2015-10-02 08:23] andreww commented on #20
I would love to see a session on python 3 for those of us who have yet to make the leap. Or maybe we can collaboratively create and test a short self-study guide for instructors? (Not that I think the leap is very difficult, but I think a firm shove would be useful.)

[2015-10-02 16:05] BillMills opened #28 "Making friends with Python 3"
@andreww suggested a possible session on migrating to Python 3, and I think this is a great idea; it's not actually that hard in most cases, but it *feels* like a big activation barrier. Two questions:

 - What should go in this session?
 - Who is going to lead it?

As for content, I don't think we need to cover every single last detail; just stuff likely to impact the basics, like syntactical cha

[2015-10-02 16:05] katieannemills commented on #20
@andreww - I think that's a great idea; let's hash out the details in #28.

[2015-10-02 17:02] ChristinaLK commented on #28
+1000
This would be great.  I think your suggestions so far are good (common syntax changes, etc.).

[2015-10-02 18:08] jdcorless commented on #28
What I would really enjoy seeing is how to make Python2 code compatible with Python3, using for instance, `from __future__ import print` and the like.  This seems to me to be a small step towards Python3 but might help bridge the gap.

[2015-10-02 18:25] ttimbers commented on #20
@jiffyclub having you talk about installing stuff would be great, and we can see if we can find a windows expert to partner up with you to cover that OS, as long as you have Mac and Linux covered. Thanks for volunteering!

[2015-10-02 18:26] jiffyclub commented on #20
@ttimbers for scheduling purposes I'm on the west coast.

[2015-10-02 19:44] jdcorless commented on #20
Hi @ttimbers, I have been working on a split-screen approach to teaching git at the command line to help students visualize the concepts.  I could give a presentation on that.

[2015-10-02 19:45] ttimbers commented on #20
@jdcorless that would be cool! Where are you located (so I know what time zone your in for scheduling).

[2015-10-02 20:40] jdcorless commented on #20
Dallas, TX

[2015-10-03 19:04] andreww commented on #28
I was being somewhat selfish with this idea. I'm happy to teach python2 and do quite a lot of my own work using it, but have failed to find _any_ time either moving to python3 or even thinking about what I need to know before the first workshop where we will be using python3. It's that apparent activation energy thing...

However, I suspect I'm not the only person in this boat and so it is probabl

[2015-10-03 20:28] katieannemills commented on #28
@andreww I would definitely be game to help pull together a study guide for this! Here's [a skeleton](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/notes/introToPython3.md) containing our points so far - pull requests and further ideas very welcome! I'm hoping someone steps up to lead this session at the Retreat, since I may or may not be on a plane then, but I am definitely

[2015-10-05 01:44] ttimbers commented on #20
@jiffyclub I have you down for 11:00 PM GMT / 3:00 PM PST for a session on software installation. @jdcorless I have you down for 6:00 PM GMT / 4:00 PM CST for a session on version control.

[2015-10-05 05:23] BillMills opened #31 "AV & communication for broadcast sessions"
Alright - time to start thinking about AV strategy! I just added links to (currently non-existant) etherpads for each live session to the schedule; this is probably the most familiar way to collect notes and let people ask questions remotely. Will add in actual etherpads shortly.

For video, we should be able to set up a google hangout on air for speakers, and distribute the read-(watch?)-only lin

[2015-10-05 18:23] jiffyclub commented on #20
Okay. @ChristinaLK, if you have specific things you'd like addressed please let me know.

[2015-10-06 02:34] ChristinaLK commented on #20
I was mostly thinking of "common errors + how to fix them", maybe some generalized strategies for dealing with installation issues.  Off the top of my head: "command not found" messages and how to add things to the PATH, how git installs on mac (do you need xcode? this has always been a mystery to me), what the swc windows installer does.

[2015-10-06 03:54] ChristinaLK opened #32 ""cool things" compendium"
I'm not sure if this should be a broadcast session, but it would be cool to curate lists of miscellaneous resources as part of the retreat, stuff like:

a) references/tutorials commonly recommended by SWC instructors as follow-up material
b) "fun" stuff like comics, quotes, gifs
c) "required reading" - favorite blogs or twitter feeds on computing, and especially computing education

I'm not sure h

[2015-10-06 03:56] katieannemills commented on #32
I like it - keep in mind, the broadcast sessions don't all have to be solo-lecture-demo style; roundtables, discussions and other collaborative conversations are all fair game, and may lend themselves well to something like this.

[2015-10-06 14:10] rgaiacs opened #33 ""How to translate SCF/DC lessons" session"
@statkclee could you lead this session?

[2015-10-06 19:50] waveform80 commented on #28
If anyone wants a hand with this, let me know - I've written several libraries that operate happily in Python 2.7+ and 3.2+ from a single codebase (mostly educational Pi stuff, e.g. [picamera](https://github.com/waveform80/picamera), [picraft](https://github.com/waveform80/picraft), but some science-related projects too, e.g. [umansysprop](https://github.com/waveform80/umansysprop) and [compoundfi

[2015-10-07 01:24] katieannemills commented on #28
Thanks, @waveform80 - would love to see some minimal examples of those headers, that would be a great thing to add on. Any interest in leading this presentation that morning?

[2015-10-07 10:56] waveform80 commented on #28
Sure I can do that (I actually wrote on talk on this subject a couple of years ago for the local Python North-West group, but it'll probably need updating a bit!)

[2015-10-08 02:18] katieannemills commented on #28
@waveform80, that's awesome! @ttimbers is in charge of broadcast session booking, she can help you get a session booked at a time that works for you. Thanks for doing this!

[2015-10-08 15:52] andreww commented on #28
Thinking about how we will make this work. I think a broadcast session by @waveform80 would be very useful, and it would be good if this could be recorded in some form and eventually embedded in the [study guide](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/notes/introToPython3.md). I also think we should spend some time fleshing out the study guide at the retreat. A final

[2015-10-08 16:07] ttimbers commented on #28
Since the UK sites are starting at 10:00 AM GMT, and Greg Wilson is giving a contributorship session at 11:00 AM GMT, @waveform80 I would like to schedule you for 1:00 PM GMT - will that work?

[2015-10-08 19:58] waveform80 commented on #28
Hmm ... tricky - I've got about an hour's drive to get to the wedding at 3:00 PM which is cutting it rather fine if I'm presenting until 2. Any chance I could grab a slot immediately after Greg's at 12? Or possibly even one at 10 if it's free?

[2015-10-08 20:00] ttimbers commented on #28
Of course @waveform80 ! 10am it is!

[2015-10-09 02:00] katieannemills commented on #28
@andreww these are excellent ideas all! Do please be in touch with @apawlik, who is organizing the Manchester site; I'll be asking the site hosts to start pulling together some loose plans for the day shortly, and your ideas should definitely be part of that conversation.

[2015-10-09 14:04] ttimbers commented on #20
@jiffyclub will you be doing your session remotely or from one of the West coast sites (and if so, which one?)?

[2015-10-09 14:26] ttimbers commented on #31
@BillMills I agree, let's do Google Hangouts on Air for the speakers, and we can have the topics column in the schedule table link to each Google Hangouts on Air session. As long as the speakers are good with this, then these links will link to the youtube video of their session afterwards so they can be watched later in other time zones, or even after the retreat. We will of course leave this dec

[2015-10-09 17:19] jiffyclub commented on #20
I'll most likely be at the Davis site. I don't think there's one in the Bay
Area yet?
On Fri, Oct 9, 2015 at 7:06 AM Tiffany Timbers notifications@github.com
wrote:

[2015-10-09 19:34] jesford commented on #20
I would like to see another session on Interactive Learning (currently led by Lex Nederbragt), run at a time that works for PST people... maybe 7 or 10pm GMT. Are there any materials for this? The etherpad link for notes on the session seems to be broken.

[2015-10-09 19:39] ttimbers commented on #20
@jesford - If session leaders OK with this, the early sessions will be available on youtube after their broadcast time and thus Seattle (and others) could watch @lexnederbragt 's session at a later time although he wouldn't be there to answer questions. Alternatively, someone could do a session on this topic again during the retreat at a later time point.

[2015-10-09 19:45] jesford commented on #20
@ttimbers - sweet, I didn't realize that was an option!

[2015-10-16 21:22] ttimbers commented on #20
@jdcorless I am trying to connect with all people giving a global broadcast via email so I can make sure everyone is technically prepared for the Retreat. Can you please email me: tiffany.timbers@gmail.com
Thanks!

[2015-10-16 21:29] ttimbers commented on #15
@IsaKiko I am trying to connect with everyone who is giving a global broadcast via email to make sure you have all the technical stuff down pat for their sessions at the retreat. I cannot find your email address, can you please email me? tiffany.timbers@gmail.com
Thanks!

[2015-10-22 18:01] ChristinaLK opened #37 "SQL"
I'm volunteering to do a walk through of the SQL lesson, if that would be of interest to people.  Early morning in Central Standard time would be best...

[2015-10-22 18:47] andreww commented on #28
I don't see @waveform80 on the broadcast sessions list at http://swcarpentry.github.io/instructor-retreat-2015/ - is this still happening?

Assuming this is a likely to happen, I'll pull together a minimum amount of getting started documentation that would need to be added to @BillMills [skeleton](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/notes/introToPython3.md), so peo

[2015-10-23 01:15] katieannemills commented on #28
@waveform80 @ttimbers - any progress on arranging a time? Let me know if I can help!

[2015-10-23 02:51] ttimbers commented on #28
@BillMills @waveform80 it's scheduled for 10:00 am UTC on the planning etherpad, apologies I forgot to include it on the PR for the website schedule. Will do tomorrow.

[2015-10-26 16:50] katieannemills commented on #37
Cool, thanks! Maybe something like 1PM UTC? cc @ttimbers

[2015-10-26 16:53] ttimbers commented on #37
Two global broadcast sessions, you rock @ChristinaLK ! 1pm UTC is open on the schedule if you want it!

[2015-10-26 16:56] ChristinaLK commented on #37
I can make that work.

[2015-11-02 16:24] chendaniely opened #40 ""swc as a university class""
Hoping to see how we can turn our current material into a course that will fit into the university setting.

(assuming we won't have a fight with other departments)

[2015-11-02 16:39] katieannemills commented on #40
Something I've dreamed of for many years - would you like to organize a broadcast session or round table? That would be awesome!

[2015-11-02 16:43] chendaniely commented on #40
I've been dreaming of this as well!  I think i'm in a position to actually try this out. :)

I'm not sure which would be the best format, I have a few ideas, but not enough to say "this is a complete course outline".  Perhaps a round table is better suited?

[2015-11-02 16:56] katieannemills commented on #40
Totally, I think many people would jump in on a round table.

[2015-11-02 17:00] ttimbers commented on #40
I would be absolutely LOVE to see a round table discussion of this at the SWC retreat, especially since I am currently teaching a course on this to undergraduates. I'll bet that @katyhuff @scopatz and @jennybc would also love to participate as they have all wrote texts and/or taught and/or designed courses using/inspired from/similar to SWC material.

[2015-11-02 18:03] raynamharris commented on #40
Cool! I've also been wondering how these topics might be best organized into a longer curriculum.  I'd be curious to hear about  the course @katyhuff @scopatz and @jennybc developed.

[2015-11-02 18:30] katyhuff commented on #40
I will unfortunately not be able to participate in the retreat (travel
stuff). However, as Tiffany noted, she, @scopatz and myself are working on
a course based on the Effective Computation book. Once those materials
mature into a beta-testing state (currently Tiffany is the alpha tester),
we're definitely hoping many SWC folks will fork and modify it to become a
university course in their various

[2015-11-02 18:38] scopatz commented on #40
Didn't know there was a retreat, but I agree with what @katyhuff said.

[2015-11-03 02:06] chendaniely commented on #40
@ttimbers I will be very interested in hearing what you've learned teaching thus far.  Is the course an official class with your university (for credit)

There was a very small discussion today at the mentoring meeting where @BillMills and I thought the current swc material is enough as is.  I think the current material is enough for 2 x half-semester classes but I haven't worked out the details y

[2015-11-03 02:49] jennybc commented on #40
I'll be attending most of the day via the UBC/Vancouver site, so would certainly participate in any discussion of this. I think it's very valuable, as I worry that SWC being something keen volunteers and students do on their own time ... can signal that this content is less important and more optional than it actually is. I'm all for storming the ivory tower gates!

[2015-11-03 03:54] ttimbers commented on #40
OK @chendaniely @jennybc @scopatz I've got us a roundtable discussion on the schedule for 7:00 pm UTC (Daniel and Anthony thats 2pm EST for you, and for Jenny and I in Vancouver that will be 11am PST).

@scopatz yes we are having a Software + Data Carpentry on Sat Nov 14. See the [blog post](http://software-carpentry.org/blog/2015/09/instructor-helper-retreat.html) and the [website](http://swcarpe

[2015-11-03 03:56] ttimbers commented on #40
@chendaniely @jennybc @scopatz I'll take care of setting up the Google Hangout on Air event for this and invite you all to be participants.

[2015-11-03 04:27] scopatz commented on #40
Thanks @ttimbers - I have prior plans that day but I'll do my best to show up.

[2015-11-03 18:42] ChristinaLK commented on #37
Could I be switched to 7PM UTC or 10PM UTC (10PM would be preferable...)

[2015-11-06 20:23] #37 closed

[2015-11-08 19:20] ttimbers commented on #40
@jennybc @chendaniely @scopatz I've set up an [etherpad](http://pad.software-carpentry.org/swc-instructor-retreat-2015-7PM-UTC) for this roundtable. Please add your names & email's if you wish to participate (Hangout's on air require an email invitation by whomever sets up the event) and add some discussion ideas under line 24

[2015-11-08 19:47] andreww commented on #28
Final thought on this (before next weekend). Is it worth pulling the [skeleton](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/notes/introToPython3.md) out into it's own repository before trying to populate it after the broadcast session? If so, should I create the repository, or does it belong in the SWC organisation?

[2015-11-08 20:00] katieannemills commented on #28
I would start your own repo, for convenience at this point. If SWC wants to maintain their own copy, the appropriate lesson maintainers can fork it. Looking forward to this!

[2015-11-11 14:22] andreww commented on #28
Ok - for reference the repo is at: https://github.com/andreww/python3_friends

[2015-11-11 15:40] ttimbers commented on #28
@waveform80 we still need  your Google Hangout on Air link for the broadcast on Saturday. Instructions on how to create it are [here](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/How_to_setup_global_broadcast.md). Please let @BillMills or I know if you need help setting it up and/or if you'd like to try out a test session (they are slightly different than the regular Google

[2015-11-11 15:41] ttimbers commented on #20
@jiffyclub  we still need  your Google Hangout on Air link for the broadcast on Saturday. Instructions on how to create it are [here](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/How_to_setup_global_broadcast.md). Please let @BillMills or I know if you need help setting it up and/or if you'd like to try out a test session (they are slightly different than the regular Google

[2015-11-11 22:12] jiffyclub commented on #20
All set: https://plus.google.com/events/ctpt0he4m0b7subavhr1samurro

[2015-11-11 23:30] ttimbers commented on #20
awesome, thanks @jiffyclub

[2015-11-13 03:51] ttimbers commented on #20
@pbanaszkiewicz @leszektarkowski we still need your Google Hangout on Air link for the broadcast on Saturday. Instructions on how to create it are [here](https://github.com/swcarpentry/instructor-retreat-2015/blob/gh-pages/How_to_setup_global_broadcast.md). Please let @BillMills or I know if you need help setting it up and/or if you'd like to try out a test session (they are slightly different tha

[2015-11-17 08:07] lexnederbragt opened #53 "Update links from google hangout to youtube recordings"
I am watching sessions I missed on my iPad. There, links going to the respective google hangout page do not allow me to view the recorded session - it works fine in a desktop browser. Could links to the youtube page containing the recording be added on http://swcarpentry.github.io/instructor-retreat-2015? The hangout page on iOS does not provide a link to the youtube page. E.g. my session on googl

[2016-02-03 15:57] gvwilson commented on #15
@ttimbers good to close?

[2016-02-03 15:57] gvwilson commented on #4
@BillMills good to close?

[2016-02-03 16:30] ttimbers commented on #15
@gvwilson yes

[2016-02-03 16:30] #15 closed

[2016-02-05 00:56] #4 closed

[2016-07-31 21:24] #20 closed

[2016-07-31 21:26] gvwilson commented on #28
We have moved to Python 3.

[2016-07-31 21:26] #28 closed

[2016-07-31 21:27] #31 closed

[2016-07-31 21:27] #32 closed

[2016-07-31 21:27] #33 closed

[2016-07-31 21:32] #53 closed